<h3>Choose the product that you want this quote printed on.</h3>
<p class="lead">" <%= @quote.quote_text %>"</p>
<div class="row">
  <ul class="product_list twelve column">
    <div class="row">
      <li class="four columns"><a href="http://www.zazzle.com/api/create/at-238653060974957095?rf=238653060974957095&ax=Linkover&pd=235541331138354782&fwd=ProductPage&ed=true&tc=&ic=&quote=<%= @quote.quote_text %>" target="_blank"><%= image_tag "mens.jpg", alt: "Men's shirt" %><span>Men's shirt</span></a></li>
      <li class="four columns"><a href="http://www.zazzle.com/api/create/at-238653060974957095?rf=238653060974957095&ax=Linkover&pd=235475898325175794&fwd=ProductPage&ed=true&tc=&ic=&quote=<%= @quote.quote_text %>" target="_blank"><%= image_tag "women.jpg", alt: "Men's shirt" %><span>Women's shirt</span></a></li>
      <li class="four columns"><a href="http://www.zazzle.com/api/create/at-238653060974957095?rf=238653060974957095&ax=Linkover&pd=235396938188912490&fwd=ProductPage&ed=true&tc=&ic=&quote=<%= @quote.quote_text %>" target="_blank"><%= image_tag "kids.jpg", alt: "Men's shirt" %><span>Kid's shirt</span></a></li>
    </div>
    <div class="row">
      <li class="four columns"><a href="http://www.zazzle.com/api/create/at-238653060974957095?rf=238653060974957095&ax=Linkover&pd=235287255290412149&fwd=ProductPage&ed=true&tc=&ic=&quote=<%= @quote.quote_text %>" target="_blank"><%= image_tag "hoodie.jpg", alt: "Men's shirt" %><span>Hoodies</span></a></li>
      <li class="four columns"><a href="http://www.zazzle.com/api/create/at-238653060974957095?rf=238653060974957095&ax=Linkover&pd=168766836698004661&fwd=ProductPage&ed=true&tc=&ic=&quote=<%= @quote.quote_text %>" target="_blank"><%= image_tag "mug.jpg", alt: "Men's shirt" %><span>Mugs</span></a></li>
      <li class="four columns"><a href="http://www.zazzle.com/api/create/at-238653060974957095?rf=238653060974957095&ax=Linkover&pd=144315287555416936&fwd=ProductPage&ed=true&tc=&ic=&quote=<%= @quote.quote_text %>" target="_blank"><%= image_tag "mousepad.jpg", alt: "Men's shirt" %><span>Mousepad</span></a></li>
    </div>
  </ul> 
</div><!--row-->
<a class="close-reveal-modal">&#215;</a>