<!--
  The woods are lovely, dark, and deep,
  But I have promises to keep,
  And miles to go before I sleep,
  And miles to go before I sleep.
  ~ Robert Frost
-->

<!DOCTYPE html>
<html>
<head>
  <title>Quotescube | Daily dose of curated and handpicked quotes</title>
  <meta name="author" content="Bharani M" />
	<meta name="keywords" content="quotes, quotescube, quote tees, tshirts, famous quotes, best quotes, inspiring quotes, motivational quotes, humor quotes, quotations, most famous quotations">
	<meta name="description" content="Quotescube provides you with a daily dose of curated and handpicked quotes.">

  <%= stylesheet_link_tag    "application", :media => "screen" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script>
    var COLORS = ["blue", "pale_green", "dark_blue", "orange", "gray", "yellow", "pink"];
    function get_random_class() {
      return COLORS[Math.floor(Math.random()*COLORS.length)]
    }
    
    function unique_random_class(current_class)  {
      while (true)  {
        temp = get_random_class();
        if (temp != current_class)  {
          return temp;
        }
      }  
    }
    
  </script>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-32700663-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>

<body>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  
  <section class="container">
    
    <header class="row">
      <div class="ten columns centered clearfix">
        <a href="<%= root_path %>" id="logo" title="quotescube | Daily dose of curated and hacnpicked quotes">
          <h1>quotescube</h1>
        </a>

      <nav class="four columns" id="filter_by_category">
        <ul class="nav-bar">          	
          	 <li class="has-flyout">
              		<a href="#" class="main">Category</a>
              		<a href="#" class="flyout-toggle"><span></span></a>
              		<div class="flyout small">
              			<h5>Filter quotes by category</h5>
              			<ul class="sub_list clearfix">
              			  <% ["inspirational", "humor", "hope", "happiness", "wisdom", "love", "success", "spirituality", "peace", "creativity", "motivational"].each do |category| %>
              			    <li><%= link_to category.humanize, quotes_by_category_path(category) %></li>
                      <% end %>
              		</div><!--flyout-->
              	</li>
          	
        </ul>
      </nav>
    </div><!--ten columns-->
    
    </header><!--row-->
    
    <div class="row">
      <div class="ten columns centered">
        <%= yield %>				
      </div>
    </div><!--row-->
    
  </section><!--container-->
  
</body>
</html>
